* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.main-container  {
  background: #0B2434;
  height: 700px;
  padding: 7%;
}

.container {
  background: #fff;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
}
